{% extends 'base.html' %}
{% load static %}
{% block content %}

        <!-- Page Title -->
        <div class="page-title-area title-bg-seven">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="title-item">
                            <h2>Blog Details</h2>
                            <ul>
                                <li>
                                    <a href="index.html">Home</a>
                                </li>
                                <li>
                                    <span>Blog Details</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Page Title -->

        <!-- Blog Details -->
        <div class="blog-details-area ptb-100">
            <div class="container">
                <div class="row">
                    
                    <div class="col-lg-8">
                        <div class="details-item">

                            <div class="details-img">
                                {% if post.image %}
                                <img src="{{ post.image.url }}" alt="Details">
                                {% else %}
                                <img src="{% static 'assets/img/blog/blog-details-main.jpg' %}" alt="Details">
                                {% endif %}
                                <ul>
                                    <li>
                                        <i class="icofont-calendar"></i>
                                        {{ post.created_at|date:"d M, Y" }}
                                    </li>
                                    <li>
                                        <i class="icofont-user-alt-3"></i>
                                        By - <a href="#">{{ post.author_name }}</a>
                                    </li>
                                </ul>
                                <h2>{{ post.title }}</h2>
                                <p>{{ post.content }}</p>
                            </div>

                            <div class="details-share">
                                <div class="row">


                                </div>
                            </div>

                            <div class="details-comment">
                                <h3>Comments ({{ comments|length }})</h3>
                                <ul>
                                    {% for comment in comments %}
                                    <li>
                                        <img src="{% static 'assets/img/blog/blog-comment1.jpg' %}" alt="Details">
                                        <h4>{{ comment.name }}</h4>
                                        <span>{{ comment.created_at|date:"d F, Y" }}</span>
                                        <p>{{ comment.message }}</p>
                                    </li>
                                    {% empty %}
                                    <li>
                                        <p>No comments yet. Be the first to comment!</p>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>

                            <div class="details-post">
                                <h3>Your comment</h3>
                                {% if success %}
                                <div class="alert alert-success">
                                    Thank you! Your comment has been posted.
                                </div>
                                {% endif %}
                                {% if errors %}
                                <div class="alert alert-danger">
                                    <ul>
                                        {% for error in errors %}
                                        <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                {% endif %}
                                <form method="post">
                                    {% csrf_token %}
                                    <div class="row">

                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>
                                                    <i class="icofont-user-alt-3"></i>
                                                </label>
                                                <input type="text" name="name" class="form-control" placeholder="name" required>
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>
                                                    <i class="icofont-ui-email"></i>
                                                </label>
                                                <input type="email" name="email" class="form-control" placeholder="Email" required>
                                            </div>
                                        </div>

                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <label>
                                                    <i class="icofont-comment"></i>
                                                </label>
                                                <textarea name="message" rows="8" class="form-control" placeholder="Write comment" required></textarea>
                                            </div>
                                        </div>

                                        <div class="col-lg-12">
                                            <button type="submit" class="btn common-btn">Post A Comment</button>
                                        </div>

                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="widget-area">

                            <div class="widget-item">
                                <div class="blog-item">
                                    <div class="bottom">
                                        <ul>
                                            <li>
                                                <i class="icofont-calendar"></i>
                                                <span>{{ post.created_at|date:"d M, Y" }}</span>
                                            </li>
                                            <li>
                                                <i class="icofont-user-alt-3"></i>
                                                <span>By:</span>
                                                <a href="#">{{ post.author_name }}</a>
                                            </li>
                                        </ul>
                                        <h3>{{ post.title }}</h3>
                                        <p>{{ post.excerpt }}</p>
                                    </div>
                                </div>
                            </div>



                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- End Blog Details -->

{% endblock %}
