{% extends 'base.html' %}
{% load static %}
{% block content %}
        <!-- Page Title -->
        <div class="page-title-area title-bg-two">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="title-item">
                            <h2>Donations</h2>
                            <ul>
                                <li>
                                    <a href="index.html">Home</a>
                                </li>
                                <li>
                                    <span>Donations</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Page Title -->

        <!-- Donation -->
        <section class="donations-area ptb-100">
            <div class="container">
                <div class="row">
                    {% for donation in donations %}
                    <div class="col-sm-6 col-lg-4">
                        <div class="donation-item">
                            <div class="img">
                                {% if donation.image %}
                                <img src="{{ donation.image.url }}" alt="Donation">
                                {% else %}
                                <img src="{% static 'assets/img/donation/donation1.jpg' %}" alt="Donation">
                                {% endif %}
                                <a class="common-btn" href="{% url 'donation_details' donation.id %}">Donate Now</a>
                            </div>
                            <div class="inner">
                                <div class="top">
                                    <a class="tags" href="#">#{{ donation.category }}</a>
                                    <h3>
                                        <a href="{% url 'donation_details' donation.id %}">{{ donation.title }}</a>
                                    </h3>
                                    <p>{{ donation.description }}</p>
                                </div>
                                <div class="bottom">
                                    <div class="skill">
                                        <div class="skill-bar wow fadeInLeftBig" style="width: {{ donation.progress_percent }}%;">
                                            <span class="skill-count">{{ donation.progress_percent }}%</span>
                                        </div>
                                    </div>
                                    <ul>
                                        <li>Raised: ${{ donation.raised_amount }}</li>
                                        <li>Goal: ${{ donation.goal_amount }}</li>
                                    </ul>
                                    <h4>Donated by <span>{{ donation.donors_count }} people</span></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                    <div class="col-12">
                        <p class="text-center">No donations available.</p>
                    </div>
                    {% endfor %}
                </div>
                <div class="pagination-area">
                    <ul>
                        <li>
                            <a href="#">Prev</a>
                        </li>
                        <li>
                            <a class="active" href="#">1</a>
                        </li>
                        <li>
                            <a href="#">2</a>
                        </li>
                        <li>
                            <a href="#">3</a>
                        </li>
                        <li>
                            <a href="#">Next</a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- End Donation -->

{% endblock %}
