{% extends 'base.html' %}
{% load static %}
{% block content %}
        <!-- Page Title -->
        <div class="page-title-area title-bg-five">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="title-item">
                            <h2>Event Details</h2>
                            <ul>
                                <li>
                                    <a href="index.html">Home</a>
                                </li>
                                <li>
                                    <span>Event Details</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Page Title -->

        <!-- Event Details -->
        <div class="event-details-area ptb-100">
            <div class="container">
                <div class="row">

                    <div class="col-lg-8">
                        <div class="details-item">
                            <div class="details-img">
                                {% if event.image %}
                                <img src="{{ event.image.url }}" alt="Details">
                                {% else %}
                                <img src="{% static 'assets/img/event/event-details1.jpg' %}" alt="Details">
                                {% endif %}
                                <h2>{{ event.title }}</h2>
                                <p>{{ event.description }}</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="widget-area">

                            <div class="information widget-item">
                                <h3>Event information</h3>
                                <ul>
                                    <li>
                                        <span>Organizer:</span>
                                        {{ event.organizer }}
                                    </li>
                                    <li>
                                        <span>Start:</span>
                                        {{ event.event_date|date:"d F, Y" }}
                                    </li>
                                    <li>
                                        <span>Finish:</span>
                                        {{ event.event_date|date:"d F, Y" }}
                                    </li>
                                    <li>
                                        <span>Location:</span>
                                        <a href="#">{{ event.location }}</a>
                                    </li>
                                    <li>
                                        <span>Phone:</span>
                                        <a href="tel:{{ event.phone }}">{{ event.phone }}</a>
                                    </li>
                                    <li>
                                        <span>Email:</span>
                                        <a href="mailto:{{ event.email }}">{{ event.email }}</a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- End Event Details -->
{% endblock %}
